header {
    width: 100%;
    background: linear-gradient(114deg, #1a0078 -25.6%, #6f47ff 121.77%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    padding: 24px 0;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 999;
    }
    .right {
        flex: 1;
        max-width: 896px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        nav {
            display: flex;
            gap: 40px;
            z-index: 999;
            a {
                color: var(--GRAY-100, #f5f6fa);
                font-size: 16px;
                font-weight: 500;
                transition: 0.3s ease;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        .btn {
            display: inline-block;
            padding: 11px 24px;
            border-radius: 122px;
            border: 1px solid #fff;
            color: var(--GRAY-100);
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            z-index: 999;
        }
    }
}
