.s-hero {
    width: 100%;
    height: 804px;
    background: linear-gradient(114deg, #1a0078 -25.6%, #6f47ff 121.77%);
    padding-top: 180px;
    overflow-x: hidden;
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .left {
        flex: 1;
        max-width: 661px;
        h3 {
            color: rgba(255, 255, 255, 0.56);
            font-size: 24px;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: -0.5px;
            margin-bottom: 32px;
        }
        h1 {
            color: #f5f6fa;
            font-size: 64px;
            font-weight: 600;
            line-height: 115%;
            margin-bottom: 32px;
        }
        .btn {
            display: inline-block;
            padding: 12px 24px;
            background-color: var(--YELLOW);
            border-radius: 122px;
            font-family: "Poppins", sans-serif;
            color: var(--BROWN);
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 64px;
        }
        ul {
            display: flex;
            align-items: center;
            gap: 62px;
            li {
                display: flex;
                align-items: center;
                gap: 12;
                span {
                    color: var(--WHITE);
                    font-size: 16px;
                    line-height: 120%;
                }
            }
        }
    }

    .right {
        flex: 1;
        max-width: 608px;
        text-align: center;
        margin-right: -97px;
        h2 {
            color: rgba(255, 255, 255, 0.48);
            font-size: 64px;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: -2px;
            opacity: 0.4;
            margin-bottom: 63px;
        }
        .cards {
            width: 100%;
            height: 442px;
            position: relative;
            .item {
                position: absolute;
                &.card-one {
                    z-index: 2;
                    top: 0;
                    left: 0;
                }
                &.card-two {
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
}
