* {
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", sans-serif;
}
body {
    background-color: var(--GRAY-900);
}
html {
    font-size: 62.5%;
}
img {
    max-width: 100%;
    display: block;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

ul {
    list-style: none;
    padding: 0px;
}
a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    overflow-y: hidden;
}
