* {
    margin: 0;
    padding: 8;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
body {
    background-color: var(--GRAY-900);
}
html {
    font-size: 62.5%;
}
img {
    max-width: 100%;
    display: block;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

ul {
    list-style: none;
}
