* {
    margin: 0;
    padding: 8;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    display: block;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

ul {
    list-style: none;
}
